* {
  box-sizing: border-box;
}

body {
  background-position: 0.1rem 1.5cm;
  background-repeat: no-repeat;
  background-image: url(/img/background.svg);
}

a {
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;/* - */
  align-items: center;
}

.header li {
  flex: 4;
}

.header a {
  display: block;
  width: 100%;
  padding-left: 24px;
  text-align: left;
}

.header .toggle-menu {
  display: block;
  flex: 1;
  flex-grow: 1;
  padding-right: 25px;
  text-align: right;
  align-self: center;
}

.content {
  padding-top: 34px;
  text-align: center;
}

.content .p1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 30px;
}

.content .name {
  color: #172b4d;
}

.content .car {
  color: #36b37e;
}

.content .description {
  font-size: 20px;
  padding: 24px;
  padding-top: 10px;
  font-weight: lighter;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer img {/* - */
  width: 40px;
  height: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
}
