* {
  box-sizing: border-box;
}

a {
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

.header {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header a {
  display: block;
  width: 100%;
  padding-left: 24px;
  text-align: left;
}

.header .toggle-menu {
  display: block;
  flex: 1;
  flex-grow: 1;
  padding-right: 25px;
  text-align: right;
  align-self: center;
}

.land-page {
  background-image: url("./img/background.svg");
  background-repeat: no-repeat;
  background-position: left 5px top 0;
  background-size: cover;
  padding: 10px;
}

.content {
  font-family: "Inter", var(--font);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.land-container {
  padding: 30px;
}

.content .name {
  color: #172b4d;
  font-size: 40px;
  font-weight: bold;
  line-height: 52px;
  line-height: 107%;
  margin: 30px 0 20px 0;
}

.content .car {
  color: #36b37e;
  font-size: 40px;
  font-weight: bold;
  line-height: 52px;
  line-height: 107%;
  margin: 0 0 30px;
}

.content .description {
  font-size: 20px;
  padding-bottom: 15px;
  color: #172b4d;
  margin: 0;
  font-weight: lighter;
}

.content .social {
  /* - */
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.content a {
  margin: 25px 6px 0 12px;
  display: block;
  align-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.content .projects-container {
  display: inline-grid;
  margin: 68px 0;
  row-gap: 24px;
}

.my-recent-works .line {
  width: 50px;
  margin: 0 12px 13px 14px;
}

.content h2 {
  color: #172b4d;
  font-size: 45px;
  font-weight: bold;
  line-height: 107%;
  margin: 30px 0 20px 0;
  text-align: center;
}

.content .project-box {
  border: 2px solid #d0d9d4;
  border-radius: 5px;
}

.projects-container .project-details {
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.projects-container a {
  color: #3a4a42;
  margin: 6px;
  padding: 9px;
  width: max-content;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  background-color: #ebf0ee;
  border-radius: 5px;
  font-weight: 600;
}

.projects-container div {
  border: 1px #ebf0ee;
  text-align: center;
}

.projects-container img {
  width: 100%;
}

.projects-container h3 {
  font-size: 24px;
  line-height: 32px;
  margin: 16px 16px 16px 16px;
  font-weight: 600;
}

.project-details ul {
  /* - */
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.projects-container .button {
  background-color: #36b37e;
  border-radius: 7px;
  color: white;
  padding: 12px 12px;
  text-align: center;
  display: inline-block;
  font-size: 17px;
  line-height: 117%;
  margin: 29px 103px 24px 103px;
  border: none;
}

.about {
  background-image: url("../../img/backgroundabout.svg"), url("../../img/backgroundabout2.svg");
  background-position: top left, top right;
  background-repeat: no-repeat;
}

.about .main-about {
  color: #172b4d;
  text-align: center;
  font-weight: 400;
  width: 100%;
  margin: 0;
  padding: 12px 12px 10px 12px;
  font-style: normal;
  font-size: 20px;
  line-height: 32px;
  vertical-align: top;
}

.lang-container h3 {
  color: #172b4d;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  margin: 24px 15px 1px;
  font-style: normal;
  line-height: 32px;
  vertical-align: top;
}

.content .lang-container {
  display: inline-grid;
  margin: 59px 0;
  row-gap: 54px;
}

.content .skills-box {
  border: 2px solid #d0d9d4;
  border-radius: 5px;
  background-color: #ebf0ee;
}

.lang-container a {
  color: #36b37e;
  margin: 6px;
  padding: 9px;
  width: max-content;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  background-color: white;
  border-radius: 5px;
  font-weight: 600;
}

.lang-container img {
  width: 100%;
  height: 150px;
  object-position: 0 25px;
}

.lang-container ul {
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ebf0ee;
  margin: 24px 30px 24px 30px;
}

.about .button {
  background-color: #36b37e;
  border-radius: 7px;
  color: white;
  padding: 12px 12px;
  text-align: center;
  display: inline-block;
  font-size: 17px;
  line-height: 117%;
  margin: 29px 103px 24px 103px;
  border: none;
}

.content button:hover {
  background-color: #008552;
}

.contact {
  padding-bottom: 16em;
}

.contact .name {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  padding: 60px 24px 58px 24px;
}

.contact .contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.4em;
  padding-inline: 1em;
  margin-bottom: 2em;
}

.contact-form input {
  padding: 0.9em;
  border-radius: 0.25em;
  border: 1.5px solid lightgray;
}

.contact-form textarea {
  outline: none;
  padding: 12px;
  border: 1.5px solid lightgray;
  border-radius: 0.25em;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border: 1.5px solid #36b37e;
}

.buttom-contact-form {
  background-color: #36b37e;
  border-radius: 7px;
  color: white;
  padding: 12px 12px;
  text-align: center;
  display: inline-block;
  font-size: 17px;
  line-height: 117%;
  margin-inline: auto;
  border: none;
  width: 129px;
}

.buttom-contact-form:hover {
  background-color: #36b37f;
}

.buttom-contact-form:focus {
  background-color: #008552;
}

.contact .email-address {
  font-size: 20px;
  color: #42526e;
}

.div-contact {
  background-image: url("../img/backgroundcontact.svg");
  background-position: bottom right;
  background-repeat: no-repeat;
}
